# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Django
*.sqlite3
backend/db.sqlite3

# Env files
.env
*.env

# Node / Vite
node_modules/
dist/
.vite/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
